
extends layout

block content
    div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main
      h1= title

      ul.category-container
        each category in category_list
          li.link-container-category
            a(href=category.url) #{category.name}
            p #{category.description}

        else
          li There are no categories.