extends layout

block content

  h1  #{iteminstance.item.name}
  h2  Store: #{iteminstance.location.name} 
  h2  Price: #{iteminstance.item.price}
  h2  Description: #{iteminstance.item.description}

  div(style='margin-left:20px;margin-top:20px')


