extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App
    h2= title

    form.form-main(method='POST' action='')
      div.form-group
        label(for='name') Store Name:
        input#name.form-control(type='text', placeholder='Munich, Chicago etc.' name='name' value=(undefined===location ? '' : location.name))
      button.btn.btn-primary(type='submit') Submit

