
extends layout

block content
  div.content-container
    div.home-title-holder
      h1.home-title Soccer Store Inventory App

    div.detail-main
      div.location-main

        h2 Store Locations: 

        ol.location-list
          each location in location_list
            li
              a(href=location.url) #{location.name}

          else
            li There are no Locations.